<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    
    # Nếu file hoặc thư mục tồn tại thật (như css, img), thì cứ để nó load
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Nếu không, đẩy toàn bộ URL vào tham số 'url' cho index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>